// Footer Black
$footer-bg: #24324a;
$footer-text: #8a99b3;
$primary-color: #f8cf19;
$text-color: #484848;

//Gradient
$yellow-gradient: linear-gradient(to right, #fdc830, #f37335);
//Heading
$header: #24324a;
$text: #484848;

// Fonts:
$poppins: 'Poppins', sans-serif;
$nunito: 'Nunito', sans-serif;
