@import '../../styles/variables';
@import '../../styles/mixins';

.aboutSectionContainer {
	// border: 2px solid green;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 560px;
	margin: 0 auto;
	height: fit-content;
	@include min-width(560px) {
		padding: 3.5em 0em;
	}
	@include min-width(768px) {
		padding: 3.5em 2em;
		max-width: 100%;
	}
	@include min-width(900px) {
		display: grid;
		grid-template-rows: auto auto;
		grid-template-columns: 60% auto;
		column-gap: 40px;
	}
	padding: 3.5em 1.4em;

	h1 {
		// border: 2px solid green;
		text-align: center;
		width: 90%;
		font-family: $nunito;
		font-size: 1.9rem;
		color: $header;
		margin: 0em auto 1.5em auto;
		@include min-width(900px) {
			grid-column: 1/-1;
		}
	}

	.aboutDescDiv {
		// border: 2px solid blue;
		// width: 40%;
		@include min-width(768px) {
			width: 100%;
			font-size: 1.1rem;
		}
		@include min-width(900px) {
			align-self: start;
		}
		p {
			@include min-width(768px) {
				font-size: 1rem;
			}
			font-size: 0.9rem;
			color: $text;
			margin-bottom: 2.5em;
		}
		.iconContainer {
			// border: 2px solid magenta;
			width: 100%;
			@include min-width(768px) {
				display: flex;
				justify-content: space-around;
			}
			@include min-width(900px) {
				display: flex;
				justify-content: space-around;
				grid-column-start: 1;
			}
			.iconItem {
				// border: 2px solid orange;
				display: flex;
				align-items: center;
				font-family: $nunito;
				margin-bottom: 2em;
				@include min-width(900px) {
					width: 30%;
				}
				.icon {
					margin-right: 0.8em;
					color: $primary-color;
				}
				h2 {
					color: $header;
					font-size: 1.1rem;
					@include min-width(900px) {
						font-size: 1.2rem;
					}
				}
				h3 {
					color: $text;
					font-size: 1rem;
					@include min-width(900px) {
						font-size: 0.8rem;
					}
				}
			}
		}
	}

	.imageContainer {
		// width: 200px;
		height: auto;
		max-width: 560px;
		// max-height: 1000px;
		// border: 1px solid;

		// @include min-width(768px) {
		// 	// width: 100%;
		// }
		@include min-width(900px) {
			grid-column-start: 2;
			grid-row: 2/3;
			height: 75%;
			// max-height: 470px;
			align-self: start;
		}

		.image {
			border-radius: 8px;
			height: 100%;
		}
	}
}
