@import '../../styles/variables';
@import '../../styles/mixins';

.bg {
	height: 100vh;
	width: 100%;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(0deg, rgba(0, 19, 40, 0.5), rgba(0, 19, 40, 0.5));

	header {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		color: white;
		h1 {
			font-size: 6rem;
			font-family: $nunito;
			font-weight: 600;
			@include max-width(1200px) {
				font-size: 5rem;
			}
			@include max-width(500px) {
				font-size: 4rem;
			}
		}
		p {
			font-family: $sacramento;
			font-size: 2.5rem;
			font-weight: 400;
			margin-top: -20px;
			position: relative;
			display: inline-block;
			&::before {
				content: '';
				position: absolute;
				top: 50%;
				right: 105%;
				width: 35%;
				height: 3px;
				border-radius: 8px;
				background-color: white;
				@include max-width(430px) {
					width: 15%;
				}
			}
			&::after {
				content: '';
				position: absolute;
				left: 105%;
				top: 50%;
				width: 35%;
				height: 3px;
				background-color: white;
				border-radius: 8px;
				@include max-width(430px) {
					width: 15%;
				}
			}
			@include max-width(1200px) {
				font-size: 2rem;
				margin-top: -15px;
			}
			@include max-width(500px) {
				margin-top: -10px;
				font-size: 1.9rem;
			}
		}

		a {
			border: 2px solid $primary-color;
			margin-top: 1em;
			background-color: transparent;
			font-family: $nunito;
			color: $primary-color;
			border-radius: 3px;
			outline: none;
			padding: 0.5em 2em;
			font-size: 1.3rem;
			transition: all 150ms ease-in-out;
			display: block;
			@include max-width(500px) {
				padding: 0.4em 1.8em;
			}
			@media (hover: hover) {
				&:hover {
					cursor: pointer;
					color: white;
					background-color: $primary-color;
				}
			}
		}
	}
}
