@import '../../styles/variables';
@import '../../styles/mixins';

.projectConatiner {
  // border: 2px solid red;
  padding-top: 3em;
  padding-bottom: 2.5em;
  margin-bottom: 3em;
  cursor: pointer;

  .header {
    text-align: center;
    width: 90%;
    font-family: $nunito;
    font-size: 1.9rem;
    color: $header;
    margin: 0em auto 1em auto;
  }

  .cardWrapper {
    @include min-width(600px) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  .btn {
    border: 2px solid red;
    display: block;
    margin: 3em auto 0 auto;
    width: fit-content;
    padding: 0.6em 2.5em;
    border: none;
    border-radius: 5px;
    background-image: $yellow-gradient;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 200ms ease-in-out;

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }

    @include min-width(600px) {
      margin: 1.5em auto 0 auto;
    }
  }
}
