@import '../styles/variables';
@import '../styles/mixins';

footer {
	width: 100%;
	background-color: $footer-bg;
	display: flex;
	justify-content: center;
	padding: 3em 0;

	// Bounding Box
	.row {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include min-width(625px) {
			display: grid;
			grid-template-columns: 50% 50%;
			grid-template-rows: auto auto;
			grid-template-areas:
				'about social'
				'links contact';
			padding: 0 3em;
		}
		@include min-width(910px) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 0em;
		}

		// All Links Inside The Footer
		a {
			color: $footer-text;
			font-size: 0.9rem;
			transition: all 150ms ease-in-out;
			&:hover {
				color: white;
			}
		}

		// All divs inside the footer
		div {
			padding: 1.2em;
			display: flex;
			flex-direction: column;
			// border: 1px solid;
			@include min-width(910px) {
				width: 25%;
				padding: 1em;
			}

			// All headings(h2) inside the footer
			h2 {
				font-family: 'Nunito';
				color: white;
				font-size: 1.2rem;
				margin-bottom: 1.4em;
			}
		}

		// About Class styles
		.about {
			grid-area: about;

			p {
				color: $footer-text;
				font-size: 0.9rem;
				line-height: 2em;
			}
		}

		// Links and contact class styles
		.links,
		.contact {
			li {
				p {
					color: $footer-text;
					font-size: 0.9rem;
				}
				a {
					color: $footer-text;
					font-size: 0.9rem;
					&:hover {
						color: white;
					}
				}
			}

			li:not(:last-child) {
				margin-bottom: 1em;
			}
		}

		.links {
			grid-area: links;
			@include min-width(1140px) {
				padding-left: 6em;
			}
		}

		.contact {
			grid-area: contact;
			@include min-width(1140px) {
				padding-left: 6em;
			}
		}

		// Social class styles
		.social {
			grid-area: social;

			ul {
				display: flex;
				margin-left: 0.5em;
				li {
					margin-right: 1.4em;
					a {
						font-size: 1.3em;
					}
				}
			}
		}
	}
}
