@import '../../styles/variables';
@import '../../styles/mixins';

.testimonialContainer {
  // border: 2px solid black;
  max-width: 850px;
  margin: 0 auto 3em auto;

  h1 {
    text-align: center;
    width: 90%;
    font-family: $nunito;
    font-size: 1.9rem;
    color: $header;
    margin: 0em auto 1em auto;
  }

  .sliderWrapper {
    width: 80%;
    height: 100%;
    margin: 0 auto 50px auto;
    // border: 2px solid black;

    .itemWrapper {
      // border: 1px solid #dbdbdb;
      padding: 0 5px;
      // overflow: hidden;
      @include min-width(1000px) {
        padding: 0 20px;
      }

      .item {
        border-radius: 5px;
        // height: 420px;
        .testImage {
          // border: 2px solid red;
          border-radius: 100%;
          width: 100px;
          height: 100px;
          background-color: grey;
          position: relative;
          margin: 0 auto;

          .quoteIcon {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            background: $yellow-gradient;
            position: absolute;
            top: 66px;
            left: 66px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
          }
        }

        .testDesc {
          // border: 2px solid green;
          padding: 25px 18px;
          @include min-width(1000px) {
            padding: 25px 25px;
          }

          h3 {
            font-size: 1.4rem;
            font-family: $nunito;
            opacity: 0.9;
            text-align: center;
          }
          h4 {
            font-size: 0.9rem;
            opacity: 0.6;
            font-weight: 500;
            text-align: center;
            margin-bottom: 1.5em;
          }
          p {
            font-size: 0.9rem;
            color: $text-color;
            line-height: 25px;
            max-height: 200px;
            margin: 0;
            -webkit-box-orient: vertical;
            display: block;
            display: -webkit-box;
            overflow: hidden !important;
            text-overflow: ellipsis;
            -webkit-line-clamp: 8;
            overflow: hidden;
            text-align: center;
            @include min-width(480px) {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
